version: "3.8"

services:
  tamagochi-api:
    build: ./api
    container_name: tamagochi-api
    ports:
      - "5000:5000"
    volumes:
      - ./api/data:/app/data 

  tamagochi-web:
    build: ./web
    container_name: tamagochi-web
    ports:
      - "8080:80"
    depends_on:
      - tamagochi-api
