version: "3.8"

services:
  tamagochi-api:
    build: ./api
    container_name: tamagochi-api

  tamagochi-web:
    build: ./web
    container_name: tamagochi-web
    ports:
      - "80:80"
    depends_on:
      - tamagochi-api
