name: CI-CD DevSecOps Main (Production)

on:
  push:
    branches: [ main ] # Se déclenche uniquement sur main

jobs:
  controle-technique:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # --- 1. PRÉPARATION ---
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r api/requirements.txt
          pip install ruff black bandit safety

      # --- 2. SÉCURITÉ DU CODE (SAST) ---
      - name: Qualité - Ruff
        run: ruff check ./api
      
      - name: Sécurité - Bandit
        run: bandit -r ./api -x ./api/test_app.py -s B104

      - name: Sécurité - Safety
        run: safety check

      # --- 3. CONSTRUCTION LOCALE (Pour le scan) ---
      # On construit d'abord sans envoyer sur internet pour tester
      - name: Build API (Local)
        uses: docker/build-push-action@v5
        with:
          context: ./api
          load: true       # Garde l'image sur le serveur GitHub
          tags: api:test   # Nom temporaire simple

      - name: Build Web (Local)
        uses: docker/build-push-action@v5
        with:
          context: ./tamagotchi-web
          load: true
          tags: web:test

      # --- 4. SCAN DES CONTENEURS (Trivy) ---
      # Si Trivy trouve une faille CRITICAL, ça s'arrête ici.
      - name: Trivy Scan API
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'api:test'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true

      - name: Trivy Scan Web
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'web:test'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true

      # --- 5. PUBLICATION (CD) ---
      # On ne se connecte que maintenant, car tout est validé
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # On renomme l'image testée et on l'envoie
      - name: Push Final to Docker Hub
        run: |
          # Push API
          docker tag api:test ${{ secrets.DOCKERHUB_USERNAME }}/tamagotchi-api:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tamagotchi-api:latest
          
          # Push Web
          docker tag web:test ${{ secrets.DOCKERHUB_USERNAME }}/tamagotchi-web:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/tamagotchi-web:latest
