name: CI-CD DevSecOps Final
on:
  push:
    branches: [ main ]
jobs:
  controle-technique:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r api/requirements.txt
          pip install ruff black pytest bandit safety

      # --- QUALITÉ ---
      - name: Qualité 1 - Ruff (Linting)
        run: ruff check ./api
      - name: Qualité 2 - Black (Formatage)
        run: black --check ./api
      - name: Qualité 3 - Pytest (Tests unitaires)
        run: pytest ./api/test_app.py

      # --- SÉCURITÉ ---
      - name: Sécurité 1 - Bandit (SAST)
        run: bandit -r ./api -x ./api/test_app.py -s B104

      - name: Sécurité 2 - Safety (SCA)
        run: pip install safety && safety check

      # --- BUILD DOCKER ---
      - name: Build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tamagotchi-tamagochi-api .

        
      - name: 4. Scan de l'image API avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/tamagotchi-tamagochi-api:latest'
          format: 'table'
          exit-code: '1' # Fait échouer le pipeline si des failles sont trouvées
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: 5. Scan de l'image Web avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/tamagotchi-tamagochi-web:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # --- DOCKER HUB ---
      - name: Login & Push Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/tamagotchi-tamagochi-api:latest
